/* UTILS AND RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
.title {
  text-align: center;
  margin: 20px auto;
}
/*MAIN*/

.card-container {
  padding: 30px;
}
.card {
  margin: 0px auto;
  width: 400px;
  border-radius: 10px;
}
.card-img-container {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.tags {
  display: inline-block;
  padding: 0px 7px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.red {
  background-color: rgb(253, 74, 74);
}
.light-blu {
  background-color: rgb(82, 215, 255);
}
.blu {
  background-color: rgb(82, 82, 255);
  color: white;
}
.yellow {
  background-color: rgb(255, 208, 0);
}
/*FOOTER*/
footer {
  margin-top: 30px;
  background-color: rgb(53, 53, 53);
  line-height: 2rem;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}
.footer-lorem {
  padding: 50px;
  margin-bottom: 0px;
}
